@model Domain.MagicalItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MagicalItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DndCharacter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DndCharacter.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaseItem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaseItem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Spell)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Spell)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxCharges)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxCharges)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentCharges)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentCharges)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
